In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/Tirth678/Data-Analysis-Projects/refs/heads/main/Project%202/Data/Employee%20Dataset%20(1).csv')

In [4]:
# getting information about the data
data.head()

   id groups  age  healthy_eating  active_lifestyle  salary
0   0      A   36               5                 5    2297
1   1      A   26               3                 5    1134
2   2      A   61               8                 1    4969
3   3      O   24               3                 6     902
4   4      O   39               6                 2    3574

In [5]:
data.index

RangeIndex(start=0, stop=50, step=1)

In [6]:
data.columns

Index(['id', 'groups', 'age', 'healthy_eating', 'active_lifestyle', 'salary'], dtype='object')

In [7]:
data.shape

(50, 6)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                50 non-null     int64
 1   groups            50 non-null     object
 2   age               50 non-null     int64
 3   healthy_eating    50 non-null     int64
 4   active_lifestyle  50 non-null     int64
 5   salary            50 non-null     int64
dtypes: int64(5), object(1)
memory usage: 2.5+ KB